sonub-latest-photo {
  display: block;
  .posts {
    .post{
      margin-top: .5em;
      padding: .8em .3em 0;
      cursor: pointer;
      span{
        color: #898989;
        font-family: "Malgun Gothic",AppleGothic,sans-serif;
        font-size: 9pt;
        line-height: 160%;
        word-break: break-all;
      }
      vertical-align: top;
      border-color: inherit;
      .left {
        float: left;
        .photo {
          width: 75px;
          img {
            width: 100%;
          }
        }
      }
      .right {
        padding-left: 5px;
        margin-left: 75px;
        .info {
          .name {
            margin-right: 10px;
            font-size: 9pt;
            font-weight: bold;
            color: #209ac8;
          }
        }
        .subject {
          font-weight: bold;
        }
        .content, .comment {
          margin-left: 6px;
          font-size: 0.95em;
          overflow: hidden;
        }
        .content {
          max-height: 22px;
        }
        .comment {
          max-height: 44px;
          span:before {
            content: '...@';
          }
        }
      }
    }
  }
}
