sonub-latest-photo {
  display: block;
  .posts {
    .post{
      margin-top: .5em;
      padding: .3em;
      vertical-align: top;
      cursor: pointer;
      clear: both;
      span{
        color: #898989;
        font-family: "Malgun Gothic",AppleGothic,sans-serif;
        font-size: .9em;
        line-height: 1.6;
        word-break: break-all;
      }
      .left {
        float: left;
        .photo {
          margin-top: .3em;
          width: 4.675rem;
          img {
            width: 100%;
          }
        }
      }
      .right {
        padding-left: .4em;
        margin-left: 4.675rem;
        .info {
          .name {
            margin-right: .9em;
            font-size: .9em;
            font-weight: bold;
            color: #209ac8;
          }
        }
        .subject {
          font-weight: bold;
        }
        .content, .comment {
          margin-left: .5em;
          font-size: 0.95em;
          overflow: hidden;
        }
        .content {
          height: 1.5em;
        }
        .comment {
          max-height: 3.25em;
          span:before {
            content: '...@';
          }
        }
      }
    }
  }
}



.big sonub-latest-photo {
  .posts {
    .post {
      .left {
        .photo {
          margin-top: .5em;
        }

      }
      .right {
        .comment {
          max-height: 3.1em;
        }
      }

    }
  }

}
