<sonub-header></sonub-header>
<section class="content">
  <sonub-left *ngIf=" app.size == 'big' "></sonub-left>
  <section class="center">
            <h1>기업회원 모집</h1>
            필고와 함께 성장할 기업 회원을 모집합니다.<br>
            명칭 : 필고 비지니스 연합<br>
            
            1. 올바른 사업 영위를 위한 정보 공유<br>

            사업자 설립, 변호사 등.<br>


            2. 홍보<br>

            필리핀의 교민 사이트와 더불어,
            
            다음/네이버 카페, 블로그,

            카카오톡, 페이스북 등 여러가지 사업 홍보를 할 수 있는 공간이 있습니다.<br>

            필고에서는 이러한 다양한 매체를 활용한 회원 여러분들의 사업 홍보에 도움되는 정보를 공유합니다.<br>



            <br>

            가입 방법.<br>

            전화 : 070-7524-9468<br>

            담당 : 김재성 과장<br>

            신청 날짜: 2017년 3월 7일 오전 10시 부터 오후 4시까지.<br>

  </section><!--/.center-->
  <sonub-right *ngIf=" app.size == 'big' "></sonub-right>
</section><!--/section.content-->



