$news_left_width: 110px;
sonub-news .news {
  .left {
    float: left;
    width: $news_left_width;
    text-align: center;
    cursor: pointer;
    img {
      width: 100%;
      overflow: hidden;
    }

    .subject {
      display: block;
      margin-top: .4em;
      height: 1.35em;
      overflow: hidden;
      font-family:Gulim,"AppleGothic","Malgun Gothic";
      font-size: 12px;
    }
  }

  .right {
    margin-left: $news_left_width + $gutter;
    & > div { cursor: pointer; }

    .top {
      margin-bottom: .1em;
      padding: $gutter;
      background-color: #cccbc6;
      .subject {
        font-family:"Malgun Gothic","AppleGothic","Gulim";
        font-size: 1em;
      }
    }
    .subject {
      margin-bottom: .2em;
      height: 1.4em;
      line-height: 1.4em;
      overflow: hidden;
      color: #00007b;
      text-decoration: none;
      font-family:Gulim,"AppleGothic","Malgun Gothic";
      font-size: 12px;
    }
    .content {
      height: 2.8em;
      overflow: hidden;
      font-family:Gulim,"AppleGothic","Malgun Gothic";
      font-size: 12px;
      line-height: 1.4em;
      text-decoration: none;
      color: #595959;
    }
  }

}
