sonub-news .news {
  .left {
    float: left;
    width: 100px;
    text-align: center;
    cursor: pointer;
    img {
      width: 100%;
      overflow: hidden;
    }

    .subject {
      display: block;
      margin-top: .35em;
      height: 1.35em;
      overflow: hidden;
      font-size: 0.75em;
    }
  }

  .right {
    & > div { cursor: pointer; }
    .top .subject {
      font-weight: bold;
    }
    .subject {
      height: 1.4em;
      line-height: 1.4em;
      overflow: hidden;
      color: #00007b;
      text-decoration: none;
      font-size: 1em;
    }
    .content {
      height: 2em;
      overflow: hidden;
      font-size: .8em;
      text-decoration: none;
      color: #898888;
      line-height: 1em;
    }
  }

}
