<div *ngIf=" posts " class="news">

  <div class="left" *ngIf=" posts[0] " routerLink="{{ posts[0].url }}">
    <img *ngIf=" posts[0].photos " src="{{posts[0].photos[0]?.url_thumbnail}}">
    <div class="subject">{{ posts[0].subject }}</div>
  </div>

  <div class="right">
    <div class="top" *ngIf=" posts[1] " routerLink="{{ posts[1].url }}">
      <div class="subject">{{ posts[1].subject }}</div>
      <div class="content">{{ posts[1].content }}</div>
    </div>
    <div class="subject" *ngIf=" posts[2] " routerLink="{{ posts[2].url }}">{{ posts[2].subject }}</div>
    <div class="subject" *ngIf=" posts[3] " routerLink="{{ posts[3].url }}">{{ posts[3].subject }}</div>
    <div class="subject" *ngIf=" posts[4] " routerLink="{{ posts[4].url }}">{{ posts[4].subject }}</div>

  </div><!--/.right-->

</div>
