setting-page {
  display: block;
  @include color-combination( 'setting' );
  

  h1 {
    padding: .6em;
    background-color: #aab6c2;
  }

  h3 {
    padding: .4em;
    background-color: #b6b8c1;
  }

  fieldset {
    padding: .4em;
  }
}
