.main-menu { display: none; }
.active .main-menu { display: block; }
.main-menu {
  margin-top: $header-height;
  .inner {
    margin: 0 auto;
    padding: 1em 0;
    max-width: $content-width;
  }

    font-size: .9rem;
    font-family: Gulim,AppleGothic,Arial, Helvetica, sans-serif;
    text-align: center;
    .inner {
      display: inline-block;
    }

    h2 {
      margin: 0 0 .6em;
      padding: .6em;
      background-color: #dfdfdf;
      font-size: 1.2rem;
    }

    .menu {
      display: inline-block;
      margin-right: $gutter;
      width: 5em;
      height: 8em;
      overflow: hidden;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
      .icon {
        display: block;
        margin-bottom: .2em;
        padding-top: 1.2em;
        width: 5em;
        height: 5em;
        background-color: #898989;
        i.fa {
          color: white;
          font-size: 2.6em;
        }
      }
    }

    .menu.hot .icon { background-color: #80a0a0; }
    .inactive {
      text-decoration: line-through;
      .icon {
        background-color: #cdcdcd;
      }
    }

}


.main-menu {

  .container,
  .container .row,
  .container .row > div {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    width: 100%;
    max-width: 100%;
  }

}