
<div class="menus">

    <div class="inner">
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-comments"></i>
        </div>
        <span>자유토론</span>
    </div>
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-question"></i>
        </div>
        <span>질문답변</span>
    </div>
    
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>회원장터</span>
    </div>
    

    <div class="menu">
        <div class="icon">
            <i class="fa fa-tv"></i>
        </div>
        <span>생방송TV</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-envelope"></i>
        </div>
        <span>쪽지</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-krw"></i>
        </div>
        <span>환율</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-h-square"></i>
        </div>
        <span>호텔</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-hotel"></i>
        </div>
        <span>하숙집</span>
    </div>



    <div class="menu">
        <div class="icon">
            <i class="fa fa-taxi"></i>
        </div>
        <span>카렌트</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-car"></i>
        </div>
        <span>중고차</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-newspaper-o"></i>
        </div>
        <span>뉴스</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-tags"></i>
        </div>
        <span>개인장터</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <span>모임</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-heartbeat"></i>
        </div>
        <span>마사지</span>
    </div>
    
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-plane"></i>
        </div>
        <span>어학연수</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-male"></i>
        </div>
        <span>구인구직</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-female"></i>
        </div>
        <span>하우스헬퍼</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-map-o"></i>
        </div>
        <span>부동산</span>
    </div>
    
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>기업회원</span>
    </div>
    
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>도움말</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>공지</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>필독</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>가입인사</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>경험담</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>코피노</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>친구모임</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>스마트폰</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>음식배달</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>코필커플</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>국제결혼</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>골프</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>여권비자</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>사람찾기</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>주의사항</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>사건사고</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>학교정보</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>서류양식</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>따갈로그</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>음악</span>
    </div>



    <div class="menu">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>더 보기</span>
    </div>
    
    
    <div class="menu" (click)="onClickClearLocalStorage()">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>캐시삭제</span>
    </div>

    
    <div class="menu" routerLink="/user/login">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>로그인</span>
    </div>
    <div class="menu" (click)="onClickLogout()">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>로그아웃</span>
    </div>

    <div class="menu" routerLink="/user/register">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>회원가입</span>
    </div>

    <div class="menu" routerLink="/user/register">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>회원정보</span>
    </div>



    </div><!--/.inner-->
</div>
<div class="clearfix"></div>
