
<div class="menus">

    <div class="inner">
    
    <div class="menu hot" routerLink="/forum/freetalk">
        <div class="icon">
            <i class="fa fa-comments"></i>
        </div>
        <span>자유토론</span>
    </div>
    
    <div class="menu hot" routerLink="/forum/qna">
        <div class="icon">
            <i class="fa fa-question"></i>
        </div>
        <span>질문답변</span>
    </div>
    
    
    <div class="menu hot" routerLink="/forum/buyandsell">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>회원장터</span>
    </div>
        
    <div class="menu hot" routerLink="/forum/rest">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>식당</span>
    </div>
    
        
    <div class="menu hot" routerLink="/forum/company">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>업체홍보</span>
    </div>
    
        
    <div class="menu hot" routerLink="/forum/company_book">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>업소록</span>
    </div>
    


    <div class="menu inactive">
        <div class="icon">
            <i class="fa fa-tv"></i>
        </div>
        <span>생방송TV</span>
    </div>


    <div class="menu" routerLink="/message">
        <div class="icon">
            <i class="fa fa-envelope"></i>
        </div>
        <span>쪽지</span>
    </div>
    
    <div class="menu inactive">
        <div class="icon">
            <i class="fa fa-krw"></i>
        </div>
        <span>환율</span>
    </div>


    <div class="menu" routerLink="/forum/travel">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행</span>
    </div>

    <div class="menu" routerLink="/forum/travel_photo">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행사진</span>
    </div>

    <div class="menu" routerLink="/forum/travel_story">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행후기</span>
    </div>

    <div class="menu" routerLink="/forum/travel_free">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>자유여행</span>
    </div>
    <div class="menu" routerLink="/forum/travel_good">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>추천여행</span>
    </div>

    <div class="menu" routerLink="/forum/pre">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행준비</span>
    </div>

    <div class="menu" routerLink="/forum/nature">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>스쿠버</span>
    </div>


    <div class="menu" routerLink="/forum/nature">
        <div class="icon">
            <i class="fa fa-h-square"></i>
        </div>
        <span>호텔</span>
    </div>


    <div class="menu" routerLink="/forum/boarding_house">
        <div class="icon">
            <i class="fa fa-hotel"></i>
        </div>
        <span>하숙집</span>
    </div>



    <div class="menu" routerLink="/forum/rentcar">
        <div class="icon">
            <i class="fa fa-taxi"></i>
        </div>
        <span>카렌트</span>
    </div>

    <div class="menu" routerLink="/forum/cars">
        <div class="icon">
            <i class="fa fa-car"></i>
        </div>
        <span>중고차</span>
    </div>

    <div class="menu" routerLink="/forum/news">
        <div class="icon">
            <i class="fa fa-newspaper-o"></i>
        </div>
        <span>뉴스</span>
    </div>

    <div class="menu" routerLink="/forum/personal">
        <div class="icon">
            <i class="fa fa-tags"></i>
        </div>
        <span>개인장터</span>
    </div>
    
    <div class="menu" routerLink="/forum/party">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <span>친구모임</span>
    </div>
    
    <div class="menu" routerLink="/forum/massage">
        <div class="icon">
            <i class="fa fa-heartbeat"></i>
        </div>
        <span>마사지</span>
    </div>
    
    
    <div class="menu" routerLink="/forum/study">
        <div class="icon">
            <i class="fa fa-plane"></i>
        </div>
        <span>어학연수</span>
    </div>
    
    <div class="menu" routerLink="/forum/job">
        <div class="icon">
            <i class="fa fa-male"></i>
        </div>
        <span>구인구직</span>
    </div>
    <div class="menu" routerLink="/job">
        <div class="icon">
            <i class="fa fa-female"></i>
        </div>
        <span>하우스헬퍼</span>
    </div>
    
    <div class="menu" routerLink="/forum/rent">
        <div class="icon">
            <i class="fa fa-map-o"></i>
        </div>
        <span>주택임대</span>
    </div>
    
    
    <div class="menu inactive">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>기업회원</span>
    </div>
    


    <div class="menu" routerLink="/forum/business">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>사업,창업</span>
    </div>
    

    <div class="menu" routerLink="/forum/biz_partner">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>동업자구함</span>
    </div>


    <div class="menu" routerLink="/forum/internet">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>동업자구함</span>
    </div>
    
    <div class="menu" routerLink="/forum/info">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>필리핀정보</span>
    </div>

    <div class="menu" routerLink="/forum/typoon">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>태풍소식</span>
    </div>
    
    <div class="menu" routerLink="/forum/one_line_talk">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>한줄쓰기</span>
    </div>
    
    
    <div class="menu" routerLink="/forum/money">
        <div class="icon">
            <i class="fa fa-handshake-o"></i>
        </div>
        <span>환전</span>
    </div>


    <div class="menu inactive">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>도움말</span>
    </div>

    <div class="menu" routerLink="/forum/reminder">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>공지</span>
    </div>
    
    <div class="menu" routerLink="/forum/member_reminder">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>회원알림</span>
    </div>


    <div class="menu" routerLink="/forum/newcomer">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>필독</span>
    </div>

    <div class="menu" routerLink="/forum/greeting">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>가입인사</span>
    </div>

    <div class="menu" routerLink="/forum/knowhow">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>경험담</span>
    </div>

    <div class="menu" routerLink="/forum/group__kopino">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>코피노</span>
    </div>

    <div class="menu" routerLink="/forum/phone">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>스마트폰</span>
    </div>

    <div class="menu" routerLink="/forum/food_delivery">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>음식배달</span>
    </div>

    <div class="menu" routerLink="/forum/kophil">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>코필커플</span>
    </div>
    
    <div class="menu" routerLink="/forum/marry">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>국제결혼</span>
    </div>
    
    <div class="menu" routerLink="/forum/marriage_process">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>결혼절차</span>
    </div>
    

    <div class="menu" routerLink="/forum/document">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>서류양식</span>
    </div>
    

    <div class="menu" routerLink="/forum/golf">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>골프</span>
    </div>

    <div class="menu" routerLink="/forum/visa">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>여권비자</span>
    </div>

    <div class="menu" routerLink="/forum/lookfor">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>사람찾기</span>
    </div>

    <div class="menu" routerLink="/forum/caution">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>주의사항</span>
    </div>


    <div class="menu" routerLink="/forum/case">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>사건사고</span>
    </div>

    <div class="menu" routerLink="/forum/school">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>학교정보</span>
    </div>


    <div class="menu" routerLink="/forum/tagalog">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>따갈로그</span>
    </div>
    <div class="menu" routerLink="/forum/english">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>영어공부</span>
    </div>

    <div class="menu" routerLink="/forum/cooking">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>요리게시판</span>
    </div>


    <div class="menu" routerLink="/forum/news_all">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>잡다한뉴스</span>
    </div>

    <div class="menu" routerLink="/forum/column">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>카럼,사설</span>
    </div>


    <div class="menu" routerLink="/forum/music_en">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>음악</span>
    </div>



    <div class="menu" routerLink="/forum/book">
        <div class="icon">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span>문화생활</span>
    </div>

`
    
    <div class="menu" (click)="onClickClearLocalStorage()">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>캐시삭제</span>
    </div>

    
    <div class="menu" routerLink="/user/login">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>로그인</span>
    </div>
    <div class="menu" (click)="onClickLogout()">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>로그아웃</span>
    </div>

    <div class="menu" routerLink="/user/register">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>회원가입</span>
    </div>

    <div class="menu" routerLink="/user/register">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>회원정보</span>
    </div>



    </div><!--/.inner-->
</div>
<div class="clearfix"></div>
