<div class="exchange-rate box">
  <div class="title">{{ [ 'Exchange Rate', '환율'] | ek }}</div>
  <div class="content">
    <div class="text">1 {{ ['Peso','페소'] | ek }} <span class="rate">{{currency?.one_peso_to_won}}</span> {{ ['Won','원'] | ek }}</div>
    <div class="text">1 {{ ['Dallar','달러'] | ek }} <span class="rate">{{currency?.one_dollar_to_peso}}</span> {{ ['Peso','페소'] | ek }}</div>
    <div class="text">1 {{ ['Dallar','달러'] | ek }} <span class="rate">{{currency?.one_dollar_to_won}}</span> {{ ['Won','원'] | ek }}</div>
  </div>
</div>
