
<div class="menus">

    <div class="inner">
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-comments"></i>
        </div>
        <span>자유토론</span>
    </div>
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-question"></i>
        </div>
        <span>질문답변</span>
    </div>
    
    
    <div class="menu hot">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <span>회원장터</span>
    </div>
    

    <div class="menu">
        <div class="icon">
            <i class="fa fa-tv"></i>
        </div>
        <span>생방송TV</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-envelope"></i>
        </div>
        <span>쪽지</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-krw"></i>
        </div>
        <span>환율</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <span>여행</span>
    </div>


    <div class="menu">
        <div class="icon">
            <i class="fa fa-h-square"></i>
        </div>
        <span>호텔</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-hotel"></i>
        </div>
        <span>하숙집</span>
    </div>



    <div class="menu">
        <div class="icon">
            <i class="fa fa-taxi"></i>
        </div>
        <span>카렌트</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-car"></i>
        </div>
        <span>중고차</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-newspaper-o"></i>
        </div>
        <span>뉴스</span>
    </div>

    <div class="menu">
        <div class="icon">
            <i class="fa fa-tags"></i>
        </div>
        <span>개인장터</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <span>모임</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-heartbeat"></i>
        </div>
        <span>마사지</span>
    </div>
    
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-plane"></i>
        </div>
        <span>어학연수</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-male"></i>
        </div>
        <span>구인구직</span>
    </div>
    <div class="menu">
        <div class="icon">
            <i class="fa fa-female"></i>
        </div>
        <span>하우스헬퍼</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-map-o"></i>
        </div>
        <span>부동산</span>
    </div>
    
    <div class="menu">
        <div class="icon">
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <span>더 보기</span>
    </div>
    
    </div><!--/.inner-->
</div>
<div class="clearfix"></div>
