sonub-home-page {
  display: block;
  background-color: $page-background-color;
  .content {
  }

  .news {
    margin-bottom: .6em;
  }
  .main-banner {
    margin-bottom: .6em;
    img {
      width: 100%;
    }
  }
  
}
