<sonub-header></sonub-header>
<section class="content">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td *ngIf=" app.size == 'big' "><sonub-left></sonub-left></td>
      <td>
          <section class="center">
            <sonub-news class="news"></sonub-news>
            <div class="main-banner">
              <img src="assets/img/ads.png">
            </div>
            <div class="sales">
              <sonub-buy-and-sell class="buyandsell"
                [title]=" 'Buy and Sell' "
                [post_id]=" 'buyandsell' "
                [limit] = "1"
                [photo] = "1"
              ></sonub-buy-and-sell>

              <sonub-buy-and-sell
                [title]=" 'Car' "
                [post_id]=" 'cars' "
                [limit] = "1"
                [photo] = "1"
              ></sonub-buy-and-sell>

              <sonub-buy-and-sell class="message"
                [title]=" 'Massage' "
                [post_id]=" 'massage' "
                [limit] = "1"
                [photo] = "1"
              ></sonub-buy-and-sell>

              <sonub-buy-and-sell class='personal'
                [title]=" 'Individual' "
                [post_id]=" 'personal' "
                [limit] = "1"
                [photo] = "1"
              ></sonub-buy-and-sell>
            </div>
            <latest-post-component></latest-post-component>
            <sonub-latest-photo
              #sonubLatestPhoto
              [post_id]   = " 'freetalk' "
              [limit]     = " 3 "
            ></sonub-latest-photo>
          
            <div class="in-page-loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>
          </section><!--/.center-->
      </td>
      <td *ngIf=" app.size == 'big' "><sonub-right></sonub-right></td>
    </tr>
  </table>

</section><!--/section.content-->