sonub-home-page {
  .sonub-main-banner {
    img {
      width: 100%;
    }
  }

  .for_sale_on_home {
    sonub-buy-and-sell {
      .posts {
        float: left;
        overflow: hidden;
        width: 25%;
      }
    }
  }


  .container-fluid {
    margin: 0;
    padding: 0;
    .row, .row > div {
      margin: 0;
      padding: 0;
    }
  }
}
