sonub-home-page {
  .center {
  }
  aside.right {
    background-color: #080;
  }

  .news {
    margin-bottom: .6em;
  }
  .main-banner {
    margin-bottom: .6em;
    img {
      width: 100%;
    }
  }

}
