<sonub-header></sonub-header>
<section class="content">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td *ngIf=" app.size == 'big' "><sonub-left></sonub-left></td>
      <td>
          <section class="center">
            <sonub-news class="news"></sonub-news>
            <div class="main-banner">
              <img src="assets/img/ads.png">
            </div>
            <sonub-sales></sonub-sales>
            <latest-post-component></latest-post-component>
            <sonub-latest-photo
              #sonubLatestPhoto
              [post_id]   = " 'freetalk' "
              [limit]     = " 20 "
            ></sonub-latest-photo>
          
            <div class="in-page-loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>
          </section><!--/.center-->
      </td>
      <td *ngIf=" app.size == 'big' "><sonub-right></sonub-right></td>
    </tr>
  </table>

</section><!--/section.content-->