.toast {
    display: none;
    &[active='true'] { display: block; }
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding: 1em;
    width: 24em;
    background-color: #aeae77;
    &:before {
        margin-right: .6em;
        font-family: 'FontAwesome';
        content: '\f071';
    }

}


ngb-modal-window.full-image .modal-dialog {
  max-width: 700px;
  text-align: center;
  .modal-content {
    border: 0;
    background-color: transparent;
    image-modal {

      .modal-body {
        padding: 0;
        img {
          max-width: 100%;
        }
      }
    }
  }
}



