
$content-width: 960px; // 960px is best fit for desktop.
$break-point: 760px; // this is the 'app.size' break point.

$header_toolbar_height: 80px;
$left_width: 200px;
$right_width: 160px;

$gutter: 8px;


// color combination #1
$page-background_color: #f9f9f9;
$content_background_color: #f7f7f7;
$toolbar-background-color: #af473c;
$toolbar-icon-background-color: #f9f9f9;
$toolbar-icon-color: #a04030;
$toolbar-color: white;
$box-title-background-color: #a9b7c0;
$box-title-color: white;


@mixin no-gutter() {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.box {
    display: block;
    margin-bottom: $gutter;
    background-color: white;
    border: 1px solid $box-title-background-color;
    box-sizing: border-box;
    .title {
        padding: $gutter;
        border-bottom: 0;
        color: $box-title-color;
        background-color:$box-title-background-color;
        font-size: .9em;
    }
    .content {
        box-sizing: border-box;
    }
}




.clearfix {
    clear: both;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

