
$break_point: 680px;

$header_toolbar_height: 80px;
$content_width: 560px;
$left_width: 200px;
$right_width: 160px;

$gutter: 8px;

//$footer_toolbar_height: 60px;

$background_color: #f7f7f7;
$toolbar_color: #d3e3f3;
$content_background_color: #f0f0f0;



@mixin no-gutter() {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

