@mixin title-icon( $icon ) {
  &:before {
    padding-right : .3em;
    content: $icon;
    font-family: "FontAwesome";
    color:dimgrey;
    font-size: 1.2em;
    vertical-align: middle;
  }
}

sonub-message-page {
  display: block;
  font-size: 12pt;
  @include color-combination( 'message' );
  font-family: "Malgun Gothic",AppleGothic,sans-serif;
  section.center {
    background-color: #f9f9f9;
    border: 0;

    .login { /** show login message if the user did not logged in */
      border-top: 1px solid #a4be2b;
      border-bottom: 1px solid #a4be2b;
      h4 {
        padding: .2em;
        margin: 0;
        border-top: 2px solid #92b306;
        border-bottom: 2px solid #92b306;
        &:before {
          margin-right: .2em;
          content: '\f05a';
          font-family: FontAwesome;
          color: #92b306;
        }
      }
    }

  }
  .messages {
    padding: 0 .3em;
    .message{
      position: relative;

      padding: 0.2em;
      border-top: 1px solid #dfdfdf;
      background: #fefefe;

      &:nth-child(odd){
        background-color: #f5f8fa;
      }

    }

    .title{

      padding: 1.5em 0.4em;

      vertical-align: middle;
      &:hover{
        background-color: #e0e0ea;
        cursor: pointer;
      }

    }

    .from{
      float: left;
      width: 100px;
      font-weight: bold;
      color: #494949;
    }

    .subject{
      float: left;
      &[open="0"] {
        font-weight: bold;
        color: blue;
      }
    }

    .date{
      float: right;
    }

    .content {
      margin-bottom: .4em;
      padding:1em;
      overflow-y: hidden;
      line-height: 200%;
      background-color: #e4e9ef;
    }

    .top-menu {
      margin-bottom: 1em;
        button {
          padding: .3em .8em .2em;
          border: 0;
          border-radius: .14em;
          background-color: #495559;
          color: white;
          cursor: pointer;
          font-size: .85rem;
        }
      .search {
        margin-top: .6em;
        button {
          font-size: .9rem;
        }
      }
    }

    .menu {
      float: right;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: hidden;

      .hide       { @include title-icon( '\f151' ); }
      .reply      { @include title-icon( '\f112' ); }
      .delete     { @include title-icon( '\f014' ); }

      button {
        padding: .3em .6em .2em;
        border: 0;
        background-color: #f5f5f5!important;
        color: black;


        font-size: 0.9em;
        cursor :pointer;

        &:hover {
          color:blue;
        }

      } // button
    }// menu


    .create-form {
      padding: .4em;
      box-sizing: border-box;
      input, button, textarea {
        display: block;
        margin: .4em 0;
        padding: .25em;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}




