<sonub-header></sonub-header>
<section class="content">
  <sonub-left *ngIf=" app.size == 'big' "></sonub-left>
  <section class="center">

      <div *ngIf=" ! login " class="login"><h4>Please, login first..</h4></div>
      <div *ngIf=" login " class="messages">


        <div class="top-menu">
          <div class="buttons">
            <button (click)=" showCreateForm = true ">{{ ['Send Message','쪽지 전송'] | ek }}</button>
            <button (click)=" onClickMakeAllRead() ">{{ ['Make all read','전체 쪽지 읽음 표시'] | ek }}</button>
            <button *ngIf=" ! showSearchForm " (click)=" onClickSearchFormSubmit() ">{{ ['Search','검색'] | ek }}</button>
          </div>
          <div *ngIf=" showSearchForm " class="search" >
            <input name="key" [(ngModel)]="key">
            <button (click)=" onClickSearchFormSubmit() ">{{ ['Search','검색'] | ek }}</button>
          </div>
        </div>

        <div *ngIf="showCreateForm" class="create-form">
          <input name="id_recv" [(ngModel)]="form.id_recv" placeholder="User ID">
          <textarea name="content" [(ngModel)]="form.content" placeholder="Content"></textarea>
          <button (click)="onClickCreateFormSubmit()">{{ ['SUBMIT','전송'] | ek }}</button>
        </div>

        <div class="pages">
          <ng-container *ngFor = "let message of messages">
            <div class="message" *ngIf = " message.idx ">

              <div class="title" (click)="onClickToggleContent(message)">
                <div class="from">{{ message.from.nickname }}</div>
                <div class="subject" [attr.open]=" message.stamp_open ">{{ message.subject }}</div>
                <time class="date">{{ message['date_created'] }}</time>
                <div  style="clear:right;"></div>
              </div>

              <div class="content" *ngIf="message['show_content']">
                <div class="message_content" [innerHTML]="message.content"></div>


                <div *ngIf=" message.showReplyForm ">
                  <textarea name="content" [(ngModel)]="form.content" placeholder="Content"></textarea>
                  <button (click)="onClickReplyFormSubmit(message)">{{ ['SUBMIT','전송'] | ek }}</button>
                </div>


                <div class="menu" >
                  <button class="hide menu-item" (click)="onClickHideContent(message)" >{{ ['HIDE','숨기기'] | ek }}</button>
                  <button class="reply menu-item" (click)=" message.showReplyForm = true ">{{ ['REPLY','답변'] | ek }}</button>
                  <button class="delete menu-item"  (click)="onClickDelete( message )">{{ ['DELETE','삭제'] | ek }}</button>
                </div>
              </div>

            </div>
          </ng-container>
        </div>

        <div *ngIf=" inPageLoading " class="in-page-loading"><i class="fa fa-spinner fa-spin"></i> {{ ['Loading','로딩중'] | ek }} ...</div>
        <div *ngIf=" noMorePosts " class="no-more-posts">{{ ['No more message','더 이상 메세지가 없습니다.'] | ek }}</div>
      </div>
  </section><!--/.center-->
  <sonub-right *ngIf=" app.size == 'big' "></sonub-right>
</section><!--/section.content-->
