#shell .content .center {
    padding: 0 .5em;
}
@media all and ( min-width: 760px ) {
    #shell .content .center {
        padding: 0;
    }
}
      #shell header {
        height: 4.625em;
        background-color: #703023;
        color: white;
      }
      #shell header menus, #shell section.content { margin-left: auto; margin-right: auto; max-width: 960px; }

      #shell ul { list-style: none; margin: 0; padding: 0; }
      #shell ul li {
          float: left;
          padding: .28em 8px .3em 0;
          cursor: pointer;
          font-size: 12px;
          text-align: center;
      }
      #shell .icon { font-size: 1.6em; }
      #shell .font { color: #904030; }

      #shell section.content {
          position: relative;
          padding: 0;
      }
      #shell section.content aside.left {
          display: none;
          float: left;
          width: 200px;
          min-height: 650px;
      }
      .app-loader { margin: 0 auto; width: 80%; max-width: 540px; text-align: center; }
      .app-loader .l { margin-bottom: 2.6em; }
      .app-loader .l img { display: block; width: 100%; }


      @media all and ( min-width: 760px ) {
          #shell section.content aside.left {
              display: block;
            }
                
                
            #shell .center {
                position: absolute;
                top: 0;
                left: 210px;
                max-width: 640px;
            }
            
      }
/** center */
#shell .kakao-friend {
    margin-top: .6em;
}
#shell .headline .text {
    padding-left: 8px;
}
#shell .headline .title {
    padding: 0;
    font-size: 1.2em;
    color: #8b0000;
}
#shell .headline .desc {
    height: 5.5em;
    overflow: hidden;
    font-size: .9em;
}
/** loader */
#shell .show {
    display: block!important;
    padding: 1em 0;
    color: rgb(30.6%, 13.7%, 41.3%);
}
/** left */
                #shell aside {
                }
                #shell .freetalk {
                    background-color: #8d99b3;
                    padding: 1px;
                }
                #shell .title {
                    padding: 8px;
                    color: white;
                    font-size: .9em;
                }
                #shell .left .content {
                    background-color: white;
                }
                #shell .post {
                    position: relative;
                    padding: 0;
                }

                #shell .no {
                    position: relative;
                    display: inline-block;
                    top: 4px;
                    left: 6px;
                    width: 1.3em;
                    height: 1.3em;
                    border-radius: 50%;
                    background-color: #703023;
                }
                #shell .no.b {
                    background-color: lightslategray;
                }
                #shell .no.g {
                    background-color: lightgrey;
                }
                #shell .no i {
                    position: absolute;
                    display: block;
                    top: -2px;
                    left: 3px;
                    color: white;
                    font-size: .7em;
                }

                #shell .post .text {
                    display: inline-block;
                    padding-left: 14px;
                }
                