<ng-container *ngFor=" let page of pages ">
  <ng-container *ngFor=" let post of page[mode] ">
    <div class="post" [ngClass]="{more: post.more}" *ngIf="post.idx && post.deleted == '0' ">
      <div class="content">

        <div class="profile cursor" (click)=" post.more = ! post.more ">
          <div class="photo"  >
            <img src="{{post.photos.length ? post.photos[0]['url_thumbnail'] : urlPhoto}}" alt="{{post.text_1}}">
          </div>


        <div class="info"  >
          <div class="text">
            <span class="name">
              {{post.text_1}} {{post.text_2}} {{post.text_3}}
            </span>
          </div>
          <div class="text">
            <span class="category">{{post.sub_category}}</span>
            <span class="age">{{ currentYear - post.int_2 }}</span>/<span class="gender">{{ post.char_1 }}</span>

          </div>
          
          <div class="text">{{ t('mobile') }} : {{post.varchar_4}}</div>
        </div>

        <div class="sub-info" *ngIf=" post.more ">
          <div class="text exp">{{ t('experience') }} : {{post.int_1}} 
          {{ t('years') }}</div>
          <div class="text">Address : {{post.varchar_1}}</div>
          <div class="text">Province : {{post.varchar_2}}</div>
          <div class="text">City : {{post.varchar_3}}</div>
          <div class="message">Applicant Message : {{post.varchar_6}}</div>
        </div>



        </div>

        <ul class="action-group">
          <li class="cursor" *ngIf=" post.member.id == login.id " (click)="onClickEdit(post.idx)">
            <i class="font fa fa-pencil"></i>
            <div>Edit</div>
          </li>
          <li class="cursor" *ngIf=" post.member.id == login.id " (click)="onClickDelete( post )">
            <i class="font fa fa-trash-o"></i>
            <div>Delete</div>
          </li>
          <li class="cursor" (click)="post.share = !post.share">
            <i class="fa fa-share-alt"></i>
            <div>Share</div>
          </li>
          <li class="cursor" (click)=" post.more = ! post.more ">
            <i class="font fa fa-angle-double-down"></i>
            <div>{{ post.more  ? 'Less' : 'More' }}</div>
          </li>
        </ul>

        <div *ngIf="post.share" class="share">
          <span class="text">Share</span>
          <input class="shareLink text cursor" onClick="this.setSelectionRange(0, this.value.length)" value="{{post.link}}" readonly/>
        </div>
      </div>
    </div>
  </ng-container><!--/.col-xx-x-->
</ng-container><!--/.page.posts.row-->
<div class="clearfix"></div>

