$break-sm: 568px; /// remove this


job-listing {
  word-break: break-all;
  position: relative;
  display: block;
  // background-color: #022;
}


/// delete above


$gutter-middle: .4em;

job-listing {           ///   Layout

  .post {
    margin-bottom: $gutter-middle;
    float: left;
    width: 50%;
    &:nth-child(odd) {
      .content {
        margin-right: $gutter-middle / 2;
      }
    }
    &:nth-child(even) {
      .content {
        margin-left: $gutter-middle / 2;
      }
    }
  }


  .content {
    position: relative;
    border: 1px solid #e8e8f2;
    background-color: #f7f7fb;
    padding: $gutter-middle * 2;
  }

  .profile {
//    background-color: white;
  }
  
  .info {
    margin-top: .2em;
  }
  .photo {
    width: 70%;
    img {
      width: 100%;
    }
  }

  .action-group {
    position: absolute;
    top: $gutter-middle;
    right: 0;
    width: 30%;
  }

}


job-listing .post .profile {
  .name {
    font-weight: bold;
    display: inline-block;
    &::first-letter { text-transform: uppercase; }
  
  }
}





job-listing .action-group {

  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;



/*
  @media screen and (min-width: $break-sm) {
    right: .3em;
    bottom: 0;
    top:auto;
  }
  li {
    padding: .2em;
    &:hover {
      background-color: #e1e1e1;
    }
    @media screen and (min-width: $break-sm) {
      float: left;
    }
  }
  */

}


job-listing .share {                /// share
  position: relative;
  overflow: hidden;
  margin-top: .3em;
  padding-right: 2.5em;
  span {
    position: absolute;
  }
  .shareLink {
    width: 100%;
    padding-left: 2.5em;
    line-height: 1em;
  }
}