


$gutter-middle: .4em;

job-listing {
  word-break: break-all;
  
}



job-listing {           ///   Layout. width, height, align


  position: relative;
  display: block;

  .post {
    margin-bottom: $gutter-middle;
    float: left;
    width: 50%;
    &:nth-child(odd) {
      .content {
        margin-right: $gutter-middle / 2;
      }
    }
    &:nth-child(even) {
      .content {
        margin-left: $gutter-middle / 2;
      }
    }
  }


  .content {
    position: relative;
    border: 1px solid #e8e8f2;
    background-color: #f7f7fb;
    padding: $gutter-middle * 2;
  }

  .info {
    margin-top: $gutter-middle * 2;
    .name {
      height: 1rem;
      overflow: hidden;
      font-size: .8rem;
    }
  }
  .photo {
    width: 70%;
    img {
      width: 100%;
    }
  }

  .action-group {
    position: absolute;
    top: $gutter-middle * 2;
    right: 0;
    width: 30%;
  }

}

job-listing .more .profile {      /// Layout on more.

  .name {
    height: auto;
  }

}

// End Of Layout

job-listing .post .profile {
  .name {
    font-weight: bold;
    display: inline-block;
    &::first-letter { text-transform: uppercase; }
  }

  .message {
    margin-top: .6em;
    padding: .4em;
    border: 1px solid #d8d8d8;
    background-color: white;
  }
}





job-listing .action-group {

  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  color: #777;

  .fa-stack {
    font-size: .8rem;
    color: #999;
  }


  .share {                /// share
    position: relative;
    overflow: hidden;
    margin-top: .3em;
    padding-right: 2.5em;
    span {
      position: absolute;
    }
    .shareLink {
      width: 100%;
      padding-left: 2.5em;
      line-height: 1em;
    }
  }

}

job-listing .share.link {
  margin-top: .6em;
  input {
    padding: .6em;
    border: 1px solid #d8d8d8;
    width: 100%;
  }
}


