@mixin view-component-design {
  position: relative;
  margin-bottom: 2.5em;
  border-bottom-right-radius: 0;
  border: 1px solid #a9a9a9;
  background: #f9f9f9;
  .buttons {
    position: absolute;
    right: -1px;
    bottom: -29px;
    &>span {
      float: left;
      padding: .1em .4em;
      background-color: #f9f9f9;
      border: 1px solid #a9a9a9;
      cursor: pointer;
    }
  }
}

sonub-post-list {
  display: block;
  @include color-combination( 'forum' );
  section.content{
    .no-more-posts {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  button {
    background-color: #f7f7f7;
    color: #000;
    cursor: pointer;
  }

  view-component{
    article {
      &.post{
        @include view-component-design;
      }
      &.comment {
        @include view-component-design;
      }
    }

    .post .article-header,
    .comment .article-header {
      background-color: transparent;
      font-size: .9rem;
      .url, .date, .nickname, .idx {
        display: inline-block;
        padding-right: .4rem;
      }
      .url {
        text-align: right;
        .text:before {
          margin-right: 5px;
          content: '\f0c1';
          font-family: FontAwesome;
          font-size: .9rem;
        }
      }
    }
    
  }

  edit-component {
    .fake-textarea {
      border: 1px solid #a9a9a9;
      &:before {
        margin-left: .5em;
        content: 'Write a comment...';
        color: #c0c0c0;
      }
    }
  }




  .post-list-menu {
    /*position: fixed;
    top: $header-height + $gutter;
    width: inherit;
    */
    position: relative;
    display: block;
    min-height: 36px;
    .post-name {
      padding: .2em .4em 0;
      font-size: 1.5em;
    }
    .new-post {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: .2em .8em;
      background-color: #f9f9f9;
      border: 1px solid #a9a9a9;
      cursor: pointer;
      &:before {
        content: '\f067';
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }

  // word-break all
  .post .content,
  .comment .content {
      word-break: break-all;
  }
  .post {
    .content {
      table { // some post has someting like 'table width=610', so need to make it fit.
        width: 100%!important;
      }
      img {
        width: 100%;
      }
    }
  }

.posts {

    .uploaded-files {
        img {
            max-width: 100%;
            max-height: 800px;
        }
        &[no-files='2'] {
            img {
                width: 50%;
                max-height: 360px;
            }
        }
        @for $i from 3 through 20 {
            &[no-files='#{$i}'] {
                img {
                    max-width: 33.3%;
                    max-height: 240px;
                }
            }
        }
    }


  }



}


/**
 * Since .post_top_ad is kind of 'unique' over all app page, it can be placed here.
 */
.posts .post_top_ad {
  position: relative;
  display: block;
  .top_ad {
    display: inline-block;
    margin-bottom: .3em;
    width:25%;
    .image {
      position: relative;
      padding: 2px;
      margin-left: 5px;
      border: 1px solid #d3d3d3;
        img {
          width:100%;
          height:auto;
        }
    }
  }
}



.posts .post_top_premium_ad {
  position: relative;
  display: block;
  .top_premium_ad {
    position: relative;
    border-top: 1px solid #e7e7e7;
    padding: 6px 10px 6px 10px;
    .image {
      float: left;
      margin-right: 8px;
      img {
        width: 66px;
        height: 36px;
        border: 1px solid #dfdfdf;
        padding: 2px;
        border-radius: 2px;
      }
    }
    .text {
      
        color: #000;
        text-decoration: none;
        .subject {
          font-weight: bold;
          font-size: 10pt;
          font-family: "Malgun Gothic",AppleGothic,sans-serif;
          line-height: 22px;
          height: 22px;
          overflow: hidden;
        }
        .sub_subject {
          line-height: 20px;
          font-size: 9pt;
          font-family: "Malgun Gothic",AppleGothic,sans-serif;
          height: 20px;
          overflow: hidden;
        }
      
    }
  }
}


/**
 *
 * 
 *
 */
.posts .ads {
    .ad {
        padding: .6em .3em .6em .8rem;
        overflow: auto;
        background-color: #e0e0e0;
        &:nth-child(odd) {
          background-color: #afbfbf;
        }
        a {
          color: #000;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .photo {
          float: left;
        }
        .text {
          padding: .5rem 0 0 60px;
          font-size: .9rem;
        }
    }
}
