<job-header></job-header>
<section class="content">
  <job-left *ngIf=" app.size == 'big' "></job-left>
  <section class="center">

          <job-listing
                  [pages]="pages" [root]="pages"
                  [login]="login"
                  [mode] =" 'posts' "
          ></job-listing>

          <div [class.active]=" ! noMorePosts " class="no-more-posts in-page-loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>
          <div [class.active]=" noMorePosts " class="no-more-posts">No more posts</div>
  </section><!--/.center-->
  <job-right *ngIf=" app.size == 'big' "></job-right>
</section><!--/section.content-->
