
$content-width: 960px; // 960px is best fit for desktop.
$break-point: 760px; // this is the 'app.size' break point.

$header-height: 80px;
$left_width: 200px;
$right_width: 160px;

$gutter: 8px;


$page-background-color: (
    1: #dfdfdf,
    2: #f9f9f9,
    3: #dfdfdf,
    4: #F0EFE6
);

$content-background-color: (
    1: #f7f7f7,
    2: #f7f7f7,
    3: #394950,
    4: #CCC7B9
);

$header-background-color: (
    1: #703023,
    2: #006640,
    3: #123456,
    4: #686763
);

$header-icon-background-color: (
    1: #f9f9f9,
    2: #f9f9f9,
    3: #f9f9f9,
    4: #F0EFE6
);

$header-icon-color: (
    1: #904030,
    2: #006644,
    3: darkgrey,
    4: #686763
);


$header-color: (
    1: #fff,
    2: #fff,
    3: #d00,
    4: white
);


$box-title-background-color: (
    1: #a9b7c0,
    2: #90a095,
    3: #a9b7c0,
    4: #87857D
);

$box-title-color: (
    1: #fff,
    2: #f9f9f9,
    3: #orange,
    4: white
);

@function page-background-color( $n ) { @return map_get( $page-background-color, $n ); }
@function content-background-color( $n ) { @return map_get( $content-background-color, $n ); }
@function header-background-color( $n ) { @return map_get( $header-background-color, $n ); }
@function header-icon-background-color( $n ) { @return map_get( $header-icon-background-color, $n ); }
@function header-icon-color( $n ) { @return map_get( $header-icon-color, $n ); }
@function header-color( $n ) { @return map_get( $header-color, $n ); }
@function box-title-background-color( $n ) { @return map_get( $box-title-background-color, $n ); }
@function box-title-color( $n ) { @return map_get( $box-title-color, $n ); }





@mixin no-gutter() {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@mixin color-combination( $n ) {
    background-color: page-background-color( $n );
    job-header header {
        color: header-color( $n );
        background-color: header-background-color( $n );
        .icon {
            .background {
                color: header-icon-background-color( $n );
            }
            .font {
                color: header-icon-color( $n );
            }
        }
    }
    section.content {
        background-color: content-background-color( $n );
        aside.left, aside.right {
            .box {
                border: 1px solid box-title-background-color( $n );
                .title {
                    color: box-title-color( $n );
                    background-color: box-title-background-color( $n );
                }
            }
        }
    }
}
.box {
    display: block;
    margin-bottom: $gutter;
    background-color: white;
    box-sizing: border-box;
    .title {
        padding: $gutter;
        border-bottom: 0;
        font-size: .9em;
    }
    .content {
        box-sizing: border-box;
    }
}




.clearfix {
    clear: both;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

