<div class="latest-posts">
  <div class="left col-container">
    <latest-component class="freetalk"
                      [title]     = " ['Discussion', '자유게시판'] | ek "
                      [post_id]   = " 'freetalk' "
                      [limit]     = "13"
                      (error)="onLatestComponentError( $event )"
    ></latest-component>
  </div>
  <div class="right col-container">
    <latest-component class="qna"
                      [title]     = " ['QnA', '질문과답변'] | ek "
                      [post_id]   = " 'qna' "
                      [limit]     = "5"
                      (error)="onLatestComponentError( $event )"
    ></latest-component>

    <latest-component class="buyandsell"
                      [title]      = " ['Buy&amp;Sell', '회원장터'] | ek "
                      [post_id]   = " 'buyandsell' "
                      [limit]     = "6"
                      (error)="onLatestComponentError( $event )"
    ></latest-component>
  </div>
</div>
