<table width="100%" cellpadding="0" cellspacing="0">
    <tr valign="top">
        <td>
            <latest-component class="freetalk"
                [title]     = " ['Discussion', '자유게시판'] | ek "
                [post_id]   = " 'freetalk' "
                [limit]     = "13"
            ></latest-component>
        </td>
        <td>
            <latest-component class="qna"
                [title]     = " ['QnA', '질문과답변'] | ek "
                [post_id]   = " 'qna' "
                [limit]     = "5"
            ></latest-component>

            <latest-component class="buyandsell"
                [title]      = " ['Buy&amp;Sell', '회원장터'] | ek "
                [post_id]   = " 'buyandsell' "
                [limit]     = "6"
            ></latest-component>
    </td>
    </tr>
</table>