<header class="navbar navbar-fixed-top" (click)="onClickHeader()">
    <nav class="menus">
        <ul class="menu">
            <li class="home" routerLink="/">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <img class="logo fa fa-stack-1x" src="assets/img/philgo-logo.png">
                </span>
                <div class="text">홈</div>
            </li>
            <li class="discussion" routerLink="/forum/freetalk">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">Talk</div>
            </li>
            <li class="qna" routerLink="/forum/qna">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">QnA</div>
            </li>
            <li class="buyandsell" routerLink="/forum/buyandsell">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">Market</div>
            </li>
            <li class="job" routerLink="/job">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-suitcase fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">Job</div>
            </li>

            <li class="message" *ngIf=" login " routerLink="/message">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">Message</div>
            </li>

            <li class="register" *ngIf=" ! login " routerLink="/user/register">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-user-plus fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text">Signup</div>
            </li>


            <li class="login" *ngIf=" ! login " routerLink="/user/login">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <div>Login</div>
            </li>


<!--
            <li class="business" routerLink="/business">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                </span>
                <div>기업회원</div>
            </li>
-->


            <li class="help" routerLink="/help">
                <span class="icon fa-stack fa-lg">
                    <i class="background fa fa-circle fa-stack-2x"></i>
                    <i class="font fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
                <div>Help</div>
            </li>




            <li class="all-menu cursor" nowrap (click)="onClickMenu( $event )">
                <i class="icon fa fa-bars fa-inverse"></i>
                <div class="text">Menu</div>
            </li>
        </ul>
    </nav>
</header>
<sonub-main-menu [class]=" app.menu ? 'active' : '' " style="display:none;"></sonub-main-menu>
