sonub-header {
    header {
        font-size: 12px;
        font-family: Gulim, AppleGothic, Arial, Helvetica, sans-serif;
        background-color: $toolbar-background-color;
        color: $toolbar-color;
        .fa-stack {
            font-size: 1.6em;
            .fa-circle {
                color: $toolbar-icon-background-color;
            }
            i:last-child {
                color: $toolbar-icon-color;
            }
        }

        td {
            text-align: center;
        }
    }
}