<aside class="left">
    <latest-component class="box"
        [title]=" ['Freetalk','자유게시판'] | ek "
        [post_id]=" 'freetalk' "
        [limit] = "9"
                    (error)="onLatestComponentError( $event )"
    ></latest-component>

    <latest-component class="box"
        [title]=" ['Q&amp;A','질문게시판'] | ek "
        [post_id]=" 'qna' "
        [limit] = "5"
                    (error)="onLatestComponentError( $event )"
    ></latest-component>   
    <latest-component class="box"
        [title]="  ['Greetings','가입인사'] | ek  "
        [post_id]=" 'greeting' "
        [limit] = "10"
                    (error)="onLatestComponentError( $event )"
    ></latest-component>
</aside>
