aside.left {
    font-size: .9em;
    .freetalk, .qna, .greeting {
        margin-bottom: $gutter;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    .title {
        padding: $gutter;
        background-color: #eee;
    }
    .posts {
        padding: .4em;
    }
    .post {
        position: relative;
        padding-left: 2em;
        line-height: 1.6em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .no-of-comment {
            position: absolute;
            display: inline-block;
            top: .4em;
            left: 0;
            box-sizing: border-box;
            text-align: center;
            color: white;
            background-color: #b44;
            height: 1.8em;
            width: 1.8em;
            font-size: .6em;
            border-radius: 50%;
            &[no="0"] { display: none; }
            i {
                position: absolute;
                top: -.4em;
                left: 0;
            }
            &[length="1"] { 
                background-color: #ccc;
                i {
                    left: .52em;
                }
            }
            &[length="2"] {
                background-color: #559;
                i {
                    left: .2em;
                }
            }

        }
    }
}/*--- End of sonub-left---*/

